<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list">
            <div class="item">
                Bluetooth: {{ vm.bluetooth.state }}
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Scale</div>
            <div class="item item-body">
                <button class="button button-positive" style="float:right;"
                        ng-click="vm.scale.tare()">Tare
                </button>
                Weight: {{ vm.scale.getWeight() }} g
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Portion</div>
            <div class="item item-body">
                <div ng-show="vm.selectedItem">
                    <strong>{{ vm.portion.item.name }}</strong>
                    <div>
                        Calories: {{ vm.portion.getCalories() }}
                    </div>
                    <div>
                        Weight: {{ vm.portion.getWeight() }} g
                    </div>
                </div>
                <button class="button button-positive"
                        ng-click="vm.openModal()">Select Item
                </button>
                <button class="button button-assertive" ng-show="vm.portion.item"
                        ng-click="vm.addToMeal(vm.portion)">Add to Meal
                </button>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">Meal</div>
            <div class="item" ng-repeat="portion in vm.meal">
                <pre>
                    {{ portion | json }}
                </pre>
            </div>
        </div>


    </ion-content>
</ion-view>
